:root {
	--color1: #6a6aff;
	--color2: #ffd17b;
	--color3: #62ff62;
	--color4: #ff5f5f;
	--color5: #1cbf1c;
	--color6: #ff62ff;
	--font1: "Poppins", sans-serif;
	--font2: "Roboto", sans-serif;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-scrollbar-thumb {
	width: 8px;
	height: 8px;
}
body {
	font-family: var(--font1);
}
.bodycontain {
	width: 100%;
	background: linear-gradient(45deg, #e91e63, #673ab7);
}
.bodycontain > div {
	background-color: white;
}
.d-none {
	display: none !important;
}
.navigation-left {
	left: 0;
	top: 0;
	position: fixed;
	background-color: #95ffff;
	width: 300px;
	width: 300px;
	height: 100%;
	transition: all 300ms ease-in-out;
}
.h-left {
	left: -300px;
}
.navbar {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbar > div > i {
	cursor: pointer;
	font-size: 30px;
	color: #1f1f1f;
}
/* .right-icons > :last-child {
} */
.close-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.close-bar > div > i {
	cursor: pointer;
	font-size: 30px;
	color: #1f1f1f;
}
.nav-items {
	padding: 0 20px 20px;
}

.nav-items > ul > li {
	display: block;
	cursor: pointer;
	font-size: 20px;
	list-style: none;
	/* padding: 10px 0; */
}
.nav-items > ul > li :hover {
	background-color: #1f1f1f;
	color: #ffffff;
}
.nav-items > ul > li > a {
	display: block;
	width: 100%;
	text-decoration: none;
	color: #1f1f1f;
	padding: 10px;
	border-radius: 10px;
	transition: all 100ms ease-in-out;
}
.banner {
	padding: 20px;
}

.banner > h1 {
	font-size: 2.5em;
}

.search-bar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar > div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
}

.search-bar > div > :first-child {
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	background: #f2f2f2;
	width: 100%;
	font-size: 1em;
}
.heading1 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}
.heading1 > :last-child {
	cursor: pointer;
}
.listCources {
	padding: 0 20px;
}

.courcesCard {
	min-height: 100px;
	border-radius: 20px;
	margin: 20px 0;
	padding: 10px;
	/* transition: all 500ms linear; */
}
.orange {
	background-color: var(--color2);
}
.blue {
	background-color: var(--color1);
}
.green {
	background-color: var(--color3);
}
.red {
	background-color: var(--color4);
}
.pink {
	background-color: var(--color6);
}
.gofull {
	border-radius: 0;
	position: absolute;
	/* top: 0; */
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
}
.courcebox {
	background-color: #ffd17b;
	position: fixed;
	width: 100%;
	height: 100%;
	bottom: -100%;
	transition: all 300ms ease-in-out;
}
.courceboxback {
	height: 20%;
	padding: 10px 20px;
}
.courceboxback > div > i {
	font-size: 30px;
	cursor: pointer;
}
.go_up {
	bottom: 0;
}

.courcebody {
	background-color: #ffffff;
	height: 80%;
	padding: 20px;
	/* border-radius: 20px; */
	border-radius: 20px 20px 0 0;
	overflow: scroll;
}

.logincontainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	top: 0;
	position: fixed;
	background: white;
	transition: all 300ms linear;
}

.logincontainer_up {
	top: -100%;
}
.loginbanner {
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.loginbanner > img {
	width: 100%;
	max-width: 30rem;
}

.loginbody > * {
	width: 100%;
}
.loginbody {
	width: 100%;
	padding: 20px;
}
.loginbody > h2 {
	text-align: center;
}
.loginbody > input {
	padding: 10px;
	border: none;
	border-radius: 4px;
	background: #f2f2f2;
	margin: 10px 0;
}
.loginbody > [type="submit"] {
	padding: 10px;
	border: none;
	border-radius: 4px;
	background: var(--color1);
	color: white;
	margin: 10px 0;
	cursor: pointer;
}

.aboutbox {
	position: fixed;
	padding: 20px;
	background-color: white;
	bottom: 0;
	height: 100vh;
	width: 100%;
	transition: all 300ms linear;
}
.aboutcontent {
	overflow: scroll;
	height: 100%;
	padding: 20px 0;
}
.aboutboxhide {
	bottom: -100vh;
}
.close-bottom-box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.close-bottom-box > div > i {
	cursor: pointer;
	font-size: 30px;
}
.lectureslist > div {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border: 1px solid #0000001f;
	margin: 10px 0;
	border-radius: 10px;
}
.lectureslist > div:hover {
	border: 1px solid #0000007b;
}
.green-color {
	color: var(--color5);
}
.profilebox {
	width: 100%;
	background: white;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 100vw;
	padding: 20px;
	transition: all 300ms ease-in-out;
}
.profileboxhide {
	left: 0;
}
.profileboxback {
	cursor: pointer;
	font-size: 30px;
}
.profileboxdetails > div {
	padding: 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.profileboxdetails > div > :first-child {
	font-weight: bold;
	margin-right: 10px;
}
.profileboxdetails > div > :last-child > input {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid #0000007b;
}
#psave {
	padding: 10px 20px;
	width: 100%;
	border-radius: 10px;
	border: 2px solid var(--color1);
	cursor: pointer;
	transition: all 100ms ease-in-out;
}

#psave:hover {
	background: var(--color1);
	color: white;
}
#psave:active {
	background: var(--color3);
}

/* @ full screen */

@media (min-width: 700px) {
	.courcebox,
	.logincontainer,
	.profilebox,
	.aboutbox,
	.navigation-left {
		position: absolute;
	}
	.mainpage {
		height: 100vh;
		overflow: scroll;
	}
	.bodycontain {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100%;
		overflow: hidden;
		background-color: #ecff95;
	}
	.bodycontain > div {
		position: absolute;
		width: 100%;
		max-width: 500px;
		background: white;
		overflow: hidden;
	}
}

/* warning for full screen */

.warning {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.warningcontent {
	padding: 10px;
	background: cadetblue;
	font-weight: 500;
}
.warningcontent > p {
	margin: 10px 0;
	padding: 5px 10px;
}
.warningcontent :nth-child(2) {
	background: yellow;
}
.warningcontent :nth-child(3) {
	background: red;
}
.warningbtn {
	cursor: pointer;
	padding: 5px 10px;
	background: white;
	border-radius: 5px;
	margin-top: 10px;
	width: 100%;
}
